<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Simple Example</title>
</head>
<body>
<form id="valForm">
  <p id="valStatus"></p>
  <label for="val">
    Validation
    <input id="val" name="val">
    <input id="valSubmit" type="submit" value="Submit">
  </label>
</form>
</body>
<script>
  const registerSubmit = document.getElementById("valSubmit");
  registerSubmit.onclick = (ev) => {
    ev.preventDefault();
    const registerForm = document.getElementById("valForm");
    const data = new FormData(valForm);
    // convert formdata to json
    let object = {}
    data.forEach((value, key) => object[key] = value)

    // send data to the backend route
    fetch("/auth/validate, {
      method: "POST",
      body: JSON.stringify(object)
    }).then((response) => response.json())
      .then((data) => {
        const status = document.getElementById("registerStatus");
        status.innerText = data.detail;
      })
      .catch((err) => {
        console.log("Error: ", err)
      })
  }
</script>
</html>